{% extends "admin/base_site2.html" %}
{% load i18n %}
{% load navegacao %}
{% load aviso %}
{% load perfil %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/CollapsedInlineFieldsets.js"></script>
<script language="javascript1.2">
  function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
      var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
      var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
      $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
  }

</script>
<style>
  input[type="text"], textarea {
    width:300px !important;
  }
  #produtos td, produtos th{border:1px solid !important; text-align:center}
  #compras td, #compras th, #compras ul{text-align:center !important;}
</style>
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans "Home" %}</a> &rsaquo; Cliente {{ pessoa.nome }}</div>{% endblock %}

{%block esquerda%}
{% if request.user.is_staff%}
{% block perfilsidebar %}
{% if request.user.is_authenticated %}
{% get_perfil request.user %}
{% endif %}
{% endblock %}
{% endif %}

{% if app_list %}
{% for app in app_list %}
    	{%ifequal app.name "Auth"%}
<div id="menu_app{{forloop.counter}}" class="menus"  >
  <ul class="titulo_app">
    <li>
      <span> Autentica&ccedil;&atilde;o</span>
    </li>
  </ul>
  <div class="app">
    <table>
      <tbody>

        {% for model in app.models %}
        <tr>
          {% if model.perms.change %}
          <th scope="row" width="65%"><span class="titulo_nome">{{ model.name }}</span></th>
          {% endif %}
          <td>
            {% if model.perms.add %}
            <div class="espacamento" >
              <a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a>
            </div >
            {% endif %}

            {% if model.perms.change %}
            <div class="espacamento" >
              <a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endifequal %}
{% endfor %}
{% endif %}
{%endblock%}
{%block direita%}

{% block sidebar %}
{% if user.is_authenticated and user.is_superuser %}
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>{% trans 'Recent Actions' %}</h2>
    <h3>{% trans 'My Actions' %}</h3>
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
    <p>{% trans 'None available' %}</p>
    {% else %}
    <ul class="actionlist">
      {% for entry in admin_log %}
      <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}

{%endblock%}
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     <div align="center" >
    <div style="padding-top:10px;font-size:24px;text-align:center">Cadastro de Clientes</div>
    <div width="100%" class="app" style="padding-left:20px" align="left">
      <br/>
        <div style="padding:10px;font-size:16px;text-align:center">
		<form method="POST">

        	<fieldset class="module aligned ">
  			<h2>Informacoes Pessoais</h2>
  
  
      		<div class="form-row nome  ">
      			<div>
				<label for="id_nome">Nome:</label>
      			{{ c.nome }}{{ c.nome.errors }}
      			</div>
			</div> 
			<div class="form-row sexo  ">
      			<div>
				<label for="id_sexo">Sexo:</label>
      			{{ c.sexo }}{{ c.sexo.errors }}
      			</div>
			</div> 
			<div class="form-row cpf  ">
      			<div>
				<label for="id_cpf">CPF:</label>
      			{{ c.cpf }}{{ c.cpf.errors }}
      			</div>
			</div> 
			<div class="form-row rg  ">
      			<div>
				<label for="id_rg">RG:</label>
      			{{ c.rg }}{{ c.rg.errors }}
      			</div>
			</div> 
			<div class="form-row data_nascimento  ">
      			<div>
				<label for="id_data_nascimento">Data Nascimento:</label>
      			{{ c.data_nascimento }}{{ c.data_nascimento.errors }}
      			</div>
			</div>
		</fieldset>
		<fieldset class="module aligned ">
  			<h2>Naturalidade</h2>
			<div class="form-row naturalidade_cidade  ">
      			<div>
				<label for="id_naturalidade_cidade">Cidade:</label>
      			{{ c.naturalidade_cidade}}{{ c.naturalidade_cidade.errors }}
      			</div>
			</div> 
			<div class="form-row naturalidade_estado  ">
      			<div>
				<label for="id_naturalidade_estado">Estado:</label>
      			{{ c.naturalidade_estado}}{{ c.naturalidade_estado.errors }}
      			</div>
			</div> 
		</fieldset>
        <fieldset class="module aligned ">
  			<h2>Endereco</h2>
			<div class="form-row logradouro  ">
      			<div>
				<label for="id_logradouro">Logradouro:</label>
      			{{ c.logradouro}}{{ c.logradouro.errors }}
      			</div>
			</div> 
			<div class="form-row bairro  ">
      			<div>
				<label for="id_bairro">Bairro:</label>
      			{{ c.bairro}}{{ c.bairro.errors }}
      			</div>
			</div> 
            <div class="form-row cidade  ">
      			<div>
				<label for="id_cidade">Cidade:</label>
      			{{ c.cidade}}{{ c.cidade.errors }}
      			</div>
			</div>
            <div class="form-row estado  ">
      			<div>
				<label for="id_estado">Estado:</label>
      			{{ c.estado}}{{ c.estado.errors }}
      			</div>
			</div> 
            <div class="form-row cep  ">
      			<div>
				<label for="id_cep">CEP:</label>
      			{{ c.cep}}{{ c.cep.errors }}
      			</div>
			</div>
		</fieldset>
		<fieldset class="module aligned ">
  			<h2>Acesso</h2>
			<div class="form-row usuario ">
      			<div>
				<label for="id_usuario">Usuario:</label>
      			{{ c.usuario}}{{ c.usuario.errors }}<p class="help">{{ c.usuario.help_text}}</p>
      			</div>
			</div> 
		</fieldset>
		<fieldset class="module aligned ">
  			<h2>Contato</h2>
			<div class="form-row telefone ">
      			<div>
				<label for="id_telefone">Telefone:</label>
      			{{ c.telefone}}{{ c.telefone.errors }}<p class="help">{{ c.telefone.help_text}}</p>
      			</div>
			</div> 
			<div class="form-row celular ">
      			<div>
				<label for="id_celular">Celular:</label>
      			{{ c.celular}}{{ c.celular.errors }}<p class="help">{{ c.celular.help_text}}</p>
      			</div>
			</div> 
			<div class="form-row email ">
      			<div>
				<label for="id_email">Email:</label>
      			{{ c.email}}{{ c.email.errors }}
      			</div>
			</div> 
		</fieldset>
		<fieldset class="module aligned ">
  			<h2>Observacao</h2>
			<div class="form-row observacao ">
      			<div>
				<label for="id_observacao">Observacao:</label>
      			{{ c.observacao}}{{ c.observacao.errors }}
      			</div>
			</div> 
		</fieldset>
		<fieldset class="module aligned ">
  			
			<div class="form-row enviar ">
      			<p><input type="submit" value="Cadastrar cliente" /></p>
			</div> 
		</fieldset>

		</form>
		</div>
    
      <br><br>
             <a href="../../"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Voltar</div></a>
    </div>

    {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
