
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if pessoas %}
                
                            <div align="center" >
                                         <br><br>
                                               
                                     <div class="app" style="padding-left:20px">
                                <div id="changelist" class="module filtered">     
                                    <table width="100%" id="produtos">
                                    <tbody>
                                    <tr>
                                    	<td colspan="5">CLIENTES ENCONTRADOS</td>
                                    </tr>
                                    <tr>
                                        <th  style="width:10% !important">
                                        Numero
                                        </th>
                                    	<th  style="width:20% !important">
                                        	Nome
                                        </th>
                                        <th  style="width:30% !important">
                                        	Endereco
                                        </th>
                                        <th  style="width:20% !important">
                                        	Telefone
                                        </th>
                                        <th>
                                        	Celular
                                        </th>
                                    </tr>
                                    {% for cliente in pessoas %}
                                    <tr class="{% cycle 'row2' 'row1'%}">
							<td style="border-right:1px">
								{{ cliente.id }}
							</td>
                                        <td  style="border-right:1px"
                                            <div style="padding:0px;font-size:13px;">{{ cliente.nome|title}}</div>
                                        </td>                                       
                                  		
                                        <td style="border-right:1px"
                                        	
                                            		<div style="padding:0px;font-size:13px;">{{ cliente.logradouro|title }}
                                                    </div>
                                            	
                                        </td>
                                        
                                    {% if cliente.telefone %}
                                    
                                        <td style="border-right:1px">
                                            <div style="padding:0px;font-size:13px;">{{ cliente.telefone}}</div>
                                        </td>                                       
                                      {% if cliente.celular %}
                                        
                                            <td  style="border-right:1px">
                                                <div style="padding:0px;font-size:13px;">{{ cliente.celular}}</div>
                                            </td>                                       
                                       
                                     {% endif %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                               </div> 	
                                       

										<br><br>

                                       <br>
                                	
                                </div>
                          
            {% else %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
            {% endif %}
              
       {% endif %}
                              </div>
                            

</div>
{% endblock %}

</p>
