{% extends "admin/base_site2.html" %}
{% load i18n %}
{% load navegacao %}
{% load aviso %}
{% load perfil %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/CollapsedInlineFieldsets.js"></script>
<script language="javascript1.2">
function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}

</script>
<style>
input[type="text"], textarea {
width:40px !important;
}
#produtos td, #produtos th{text-align:center}
</style>
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans "Home" %}</a> &rsaquo; Cliente {{ pessoa.nome }}</div>{% endblock %}

{%block esquerda%}
{% if request.user.is_staff%}
{% block perfilsidebar %}
{% if request.user.is_authenticated %}
{% get_perfil request.user %}
{% endif %}
{% endblock %}
{% endif %}

{% if app_list %}
    {% for app in app_list %}
    	{%ifequal app.name "Auth"%}
        <div id="menu_app{{forloop.counter}}" class="menus"  >
       		 <ul class="titulo_app">
                    <li>
                        <span> Autentica&ccedil;&atilde;o</span>
                    </li>
             </ul>
         <div class="app">
        <table>
        <tbody>
        	
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row" width="65%"><span class="titulo_nome">{{ model.name }}</span></th>
            {% endif %}
            <td>
            {% if model.perms.add %}
            	 <div class="espacamento" >
               	 	<a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a>
                </div >
            {% endif %}
            
            {% if model.perms.change %}
                <div class="espacamento" >
               		 <a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
                </div>
            {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        {% endifequal %}
    {% endfor %}

{% endif %}
{%endblock%}
{%block direita%}

{% block sidebar %}
{% if user.is_authenticated and user.is_superuser %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}

{%endblock%}
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if pessoa %}
                
                            <div  >
                                              <br><br> 
                                     <div class="app" style="padding-left:20px">
                                      <fieldset class="module aligned ">
                                         <h2> CLIENTE N&ordm; {{ pessoa.id }}</h2>
              
              
                                         <div class="form-row nome ">
                                            <div>                                                                                        
                                                NOME: {{ pessoa.nome|upper}}
                                            </div>
                                         </div>
                                        
                                    
                                    	<div class="form-row endereco ">
                                            <div>                                                                                        
                                                END:{{ pessoa.logradouro|upper }} , {{ pessoa.bairro|upper }} {% if pessoa.cep %}CEP:({{ pessoa.cep }}){% endif %} - {{ pessoa.cidade }}/{{ pessoa.estado }}
                                            </div>
                                        </div>
                                    {% if pessoa.telefone %}
                                     <div class="form-row telefone ">
                                            <div>                                                                                        
                                               TELEFONE: {{ pessoa.telefone}}
                                            </div>
                                     </div>
                                      {% endif %}                                       
                                      {% if pessoa.celular %}
                                        <div class="form-row celular ">
                                            <div>                                                                                        
                                                CELULAR: {{ pessoa.celular}}
                                            </div>
                                        </div>                                 
                                       
                                     {% endif %}
                                    <div class="form-row data_nascimento ">
                                            <div>                                                                                        
                                                DATA DE NASCIMENTO: {{ pessoa.data_nascimento|date:"d/m/Y" }}
                                            </div>
                                     </div>
                                   </fieldset>
                                   <br><br>
                                </div>
                                	<div id="changelist" class="module filtered">
                                       <table width="100%" border="1px" id="produtos">
                                         <tr>
                                           <th colspan="8" align="center">
                                             <div style="text-align:center">HISTORICO DE COMPRAS</div>
                                            </th>
                                         </tr>
                                         <tr>
                                            <th style="width:20% !important">
                                                PRODUTOS
                                            </th>
                                            
                                            <th style="width:10% !important">
                                                QUANT.
                                            </th>
                                            
                                            <th>
                                                DATA DE COMPRA
                                            </th>
                                            <th>
                                                PREV. DE PAGAMENTO
                                            </th>
                                            <th>
                                                DATA DE PAGAMENTO
                                            </th>
                                            <th>
                                                FORM. DE PAGAMENTO
                                            </th>
                                            
                                            
                                             <th>
                                               SALDO DEVEDOR
                                            </th>
                                            <th>
                                                TOTAL
                                            </th>
                                            
                                         </tr>
                                         <tr>
                                         {% if lista %}
                                         {% for vend in lista %}
                                            <tr {% if vend.venda.aberto %} style="background-color:#F3DFDA;" {% else %} style="background-color:#F0FFE1;" {% endif %}>
                                                <td >
                                                  
                                                  {% if vend.produto %}
                                                  
                                                  	{% if vend.venda.aberto %}<a href="/admin/sispag/venda_prazo/{{vend.venda.id}}/">{{ vend.produto.tipo.nome}}</a>{% else %} {{ vend.produto.tipo.nome}} {% endif%}
                                                  {% else %}
                                                  
                                                 	 {% if vend.operadora %}
                                                     		{% if vend.venda.aberto %} <a href="/admin/sispag/venda_prazo/{{vend.venda.id}}/">Recarga {{ vend.operadora.nome}}</a>{% else %} Recarga {{ vend.operadora.nome}} {% endif %}
                                                     {% endif %}
                                                  {% endif %}
                                                  	
                                                </td>
 												<td>
                                                  {{  vend.quantidade}}
                                                </td>
												
                                                <td>
                                                  {{ vend.venda.data_venda|date:"d/m/Y"}}
                                                </td>
                                                <td>
                                                  {{ vend.venda.previsao_pagamento|date:"d/m/Y"}}
                                                </td>
                                                <td>
                                                  {{ vend.venda.data_pagamento|date:"d/m/Y"}}
                                                </td>
                                                <td>
                                                  {% ifequal vend.venda.pagamento '1' %} 
                                                  	&Agrave; vista
                                                  {% else %}
                                                  		{% ifequal vend.venda.pagamento '2' %}
                                                        	&Agrave; prazo 
                                                        {% else %}
                                                        	&Agrave; Cart&atilde;o
                                                        {% endifequal %}	
                                                  {% endifequal %}
                                                </td>
                                                <td>
                                                  {% if vend.venda.aberto %}
                                                  	{{ vend.venda.troco }} 
                                                  {% else %}
                                                  	0
                                                  {% endif %}
                                                </td>
                                                <td>
                                                  {% if vend.operadora %}{{  vend.total}} {% else %} {{ vend.valor }} {% endif %}
                                                </td>
                                                 
                                            </tr>
                                         {% endfor %}
                                         {% if total %}
                                         <tr>
                                         	<td style="border:none !important" colspan="5">
                                            </td>
                                            
                                         	
                                            <td>
                                            	TOTAL GERAL
                                            </td>
                                            
                                         	<td>
                                            	{% if troco %}{{ troco }} {% else %} 0 {% endif %}
                                            </td>
                                            <td>
                                            	{{ total }}
                                            </td>
                                         </tr>
                                        {% endif %} 
                                        {% endif %}
                                       </table>
									</div>
										<br><br>
                                       <table width="100%" id="compras">
                                           <tr>
                                           	
                                     		<td style="border:none">
									 <a href="/admin/sispag/iniciar_venda/{{pessoa.id}}/"><div style="padding:10px;background-color:#3399CC;width:140px;color:#FFFFFF;font:'Times New Roman', Times, serif 12px;text-align:center">Iniciar venda</div></a>
                                     		</td>
                                            	<td style="border:none">
                                                	 <a href="/admin/"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Voltar</div></a>
                                                </td>
                                            </tr>
                                            
                                            </table> 
                                      





                                       <br>
                                	
                                </div>
                          
            {% else %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
            {% endif %}
              
       {% endif %}
                              </div>
                            

</div>
{% endblock %}

</p>
