
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if pessoas %}
                
                            <div align="center" >
                                         <br><br>
                                               
                                     <div class="app" style="padding-left:20px">
                                <div id="changelist" class="module filtered">     
                                    <table width="100%" id="produtos">
                                    <tbody>
                                    <tr>
                                    	<td colspan="2">CLIENTES ENCONTRADOS</td>
                                    </tr>
                                    <tr>
                                        <th  style="width:10% !important">
                                        Numero
                                        </th>
                                    	<th  style="width:20% !important">
                                        	Nome
                                        </th>
                                        <th  style="width:30% !important">
                                        	Endereco
                                        </th>
                                        <th  style="width:20% !important">
                                        	Telefone
                                        </th>
                                        <th>
                                        	Celular
                                        </th>
                                    </tr>
                                    {% for cliente in pessoas %}
                                    <tr class="{% cycle 'row2' 'row1'%}">
							<td>
								{{ cliente.id }}
							</td>
                                        <td  style="border:none">
                                            <div style="padding:0px;font-size:13px;"><a href="/admin/sispag/cliente/?id={{cliente.id}}">{{ cliente.nome|title}}</div>
                                        </td>                                       
                                  		
                                        <td style="border:none">
                                        	
                                            		<div style="padding:0px;font-size:13px;">{{ cliente.logradouro|title }}
                                                    </div>
                                            	
                                        </td>
                                        
                                    {% if cliente.telefone %}
                                    
                                        <td style="border:none">
                                            <div style="padding:0px;font-size:13px;">{{ cliente.telefone}}</div>
                                        </td>                                       
                                      {% if cliente.celular %}
                                        
                                            <td  style="border:none">
                                                <div style="padding:0px;font-size:13px;">{{ cliente.celular}}</div>
                                            </td>                                       
                                       
                                     {% endif %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                               </div> 	
                                       

										<br><br>
                                       <table width="100%" id="compras">
                                           <tr>
                                            	<td style="border:none">
                                                	 <a href="/admin/"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Voltar</div></a>
                                                </td>
                                            </tr>
                                            
                                            </table> 
                                      





                                       <br>
                                	
                                </div>
                          
            {% else %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
            {% endif %}
              
       {% endif %}
                              </div>
                            

</div>
{% endblock %}

</p>
