<style>
  input[type="text"], textarea {
    width:40px !important;
  }
  #produtos td, #produtos th{text-align:center;text-transform:uppercase !important; padding-right:5px;padding-left:5px;}
  #produto th{text-align:left; width:50%;text-transform:uppercase !important; padding-right:5px;padding-left:5px;}
  #produto td{text-align:right;text-transform:uppercase !important; padding-right:5px;padding-left:5px;}
  #compras td, #compras th, #compras ul{text-align:center !important;text-transform:uppercase !important; padding-right:5px;padding-left:5px;}
  th, td{padding-right:5px !important;padding-left:5px !important;}
</style>

{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     <div align="center" >
    <div width="100%" class="app" style="padding-left:20px" align="left">
      <br/>
      {% if caixas %}
      <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th >
                       <div style="text-align:center">HISTORICO DO CAIXA DO DIA</div>
                    </th>
                </tr>
           </table>
           <br><br>
            	
                   
                    
                    
                    
                    
            
      
      		{% for c in caixas %}
            <table  width="100%" border="1px" id="produto">
            	<tr>
                	<th >
                    	Data Hora Abertura
                    </th>
                	<td >
                    	{{ c.data_hora_abertura|date:"d/m/Y" }} às {{ c.data_hora_abertura|time:"H:i"}}h
                    </td>
                </tr>
<tr>
                	<th>
                    	Usuario Abertura
                    </th>
                    <td >
                    	{{ c.usuario_abertura }}
                    </td>
                 </tr>
                 <tr>   
                 	<th>
                    	Data Hora Fechamento
                    </th>
                    <td >
                    	{%  if c.data_hora_fechamento %}{{ c.data_hora_fechamento|date:"d/m/Y"  }}  às {{ c.data_hora_fechamento|time:"H:i" }}h {% endif %}
                    </td>
                 </tr>
                 <tr>   
                 	<th>
                    	Usuario Fechamento
                    </th>
                    <td >
                    	{% if c.usuario_fechamento %}{{ c.usuario_fechamento }} {% endif %}
                    </td>
                    
                </tr>
                <tr>
                	 <th>
                    	Valor Inicial
                    </th>
                    <td >
                    	R$ {{ c.valor_inicial}}
                    </td>
                </tr>
                
                <tr>   
                 	<th>
                    	Vendas à Vista
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_avista %}{{ c.total_vendas_avista }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
                <tr>   
                 	<th>
                    	Adiantamentos de vendas
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_aprazo%}{{ c.total_vendas_aprazo}} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
                <tr>   
                 	<th>
                    	Vendas à cartão
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_acartao %}{{ c.total_vendas_acartao }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
<tr>   
                 	<th>
                    	Recebimentos
                    </th>
                    <td>
                    	R$ {% if c.total_recebimentos %}{{ c.total_recebimentos }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>

                <tr>   
                 	<th>
                    	Recargas OI
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_oi %}{{ c.total_recargas_oi }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas TIM
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_tim %}{{ c.total_recargas_tim }} {% else %} 0 {% endif %}
                    </td>
                    
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas CLARO
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_claro %}{{ c.total_recargas_claro }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas VIVO
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_vivo %}{{ c.total_recargas_vivo }} {% else %} 0 {% endif %}
                    </td>
                    
                    
                </tr>

                 <tr>   
                 	<th>
                    	Recargas OUTRAS
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_outras %}{{ c.total_recargas_outras }} {% else %} 0 {% endif %}
                    </td>
                    
                    
                </tr>
			<tr>
				<th colspan=2 style='text-align:right'> TOTAL R$ {{ c.valor }}</th>
			</tr>
                 </table>
                 <br><br>
            {% endfor %}
          
       </div>
      {% endif%}
      
       <br>
       <br>
       
       
       
      {% if retiradas %}
      	 <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th colspan="4">
                       <div style="text-align:center">HISTORICO DE RETIRADAS DO DIA</div>
                    </th>
                </tr>   
            	<tr>
				<th>
                    	Usuario 
                    </th>
                	<th>
                    	Data Hora 
                    </th>

                    <th>
                    	Observação
                    </th> 
                    <th>
                    	Valor 
                    </th>                    
                                       
                </tr>
            
      
      		{% for r in retiradas %}
            	<tr class="{% cycle 'row2' 'row1'%}">

                    <td>
                    	{{ r.usuario}}
                    </td>
                	<td>
                    	{{ r.data_hora|date:"d/m/Y" }} às {{ r.data_hora|time:"H:i"}}h
                    </td>

                    <td>
                    	{{ r.observacao  }}
                    </td>
                    <td>
                    	R$ {{ r.valor }}
                    </td>
                    
                    
                                       
                </tr>
		

            {% endfor %}
				<tr>
				<th colspan=4 style='text-align:RIGHT'> TOTAL R$ {{total_retiradas}} </th>
			</tr>
          </table>
       </div>
       <br>
       <br>
      {% endif %}
      <br>
       <br>
      <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th colspan="3">
                       <div style="text-align:center">HISTORICO FINAL DO DIA</div>
                    </th>
                </tr>   
            	<tr>

                    <th style='width:33%;'>
                    	TOTAL VENDIDO
                    </th>                    
                    <th style='width:33%;'>                    	TOTAL DE RETIRADAS
                    </th>   
                	<th>
                    	VALOR EM CAIXA
                    </th>                
                </tr>
            
      
            	<tr class="row2%}">

                    <td>
                    	R$ {{ total }}
                    </td>
                    
                    <td>
                    	R$ {{total_retiradas}}
                    </td>
                	<td>
                    	R$ {{ total_caixa }}
                    </td>
                                       
                </tr>
           </table> 
       </div>
<br><br>
      {% if estoques %}
      <div id="changelist" class="module filtered">
            
	{% regroup estoques by caixa as estoquelist %}
		{% for estoques in estoquelist %}
		<table width="100%" border="1px" id="produtos">
            <tr>
                	<th colspan="5">
                       <div style="text-align:center">ESTOQUE {{ estoques.grouper}}
</div>
                    </th>
                </tr>
            <tr>
            	<th>PRODUTOS</th>
                <th>INICIO</th>
                <th>ENTRADA</th>
                <th>SAIDA</th>
                <th>SALDO</th>
            </tr>
            {% for estoque in estoques.list|dictsort:'produto.tipo.nome' %}
            	<tr>
                	<td>{{ estoque.produto|upper }}</td>
                	<td> {{ estoque.inicio}} </td>
                    <td> {{ estoque.entrada}} </td>
					<td> {{ estoque.saida}} </td>
					<td> {{ estoque.saldo}} </td>
                </tr>
            {% endfor %}
		</table>
		<br><br>
            {% endfor %}
            
       </div>
      {% endif %}
       
     {% if erro %}
     	{{ erro }}
     {% else %}
		{% if caixa %}
        <div style="padding:10px;font-size:16px;text-align:center">
        
        	
        
        	 
        {% endif%}
       </div> 
    {% endif%}
      <br><br>
     									
    </div>

    
    {% endif %}
  </div>
</div>
{% endblock %}
