<html>
<head>
</head>
<body>
<style>
	html,body,div{height:50px;width:72mm;}
</style>

{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if vend %}
                <div >
		<div style="color:#000;font:'Times New Roman', Times, serif bold;text-align:center; height:50px;" id="div">							 
                                                    <table width='72mm' id= "tabela" border = 0 align='left'>
									<tr >
									  <td style="padding-left:40px;width:60%;font-size:14px;border:none !important" colspan=2>
                                                        	S  E  R  V  O  G  A  S
                                                        </td>
                                                        
									</tr>
										<tr>
									  <td style="padding-left:35px;width:60%;border:none;font-size:9px;border:none" colspan=2>
                                                        	O AMIGO DA SUA COZINHA
                                                        </td>
                                                        
									</tr>
									<tr>
									  <td style="padding-left:35px;width:60%;border:none;font-size:13px;border:none" colspan=2>
                                                        	3371-0603 / 3352-2180
                                                        </td>
                                                        
									</tr>
										<tr>
									  <td style="padding-left:40px;width:60%;border:none;font-size:9px;border:none" colspan=2>
                                                        	CONJ. GURIATA B10-14
                                                        </td>
                                                        
									</tr>
									<tr>
									  <td style="border:none;border:none;font-size:10px;">
                                                        	N: 
                                                        </td>
                                                        <td style="border:none;font-size:11px;">
                                                        	{{ pessoa.id}}
                                                        </td>
									</tr>

									<tr>
									  <td style="border:none;border:none;font-size:10px;">
                                                        	CLIENTE: 
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	{{ pessoa.nome|upper}}
                                                        </td>
									</tr>
									<tr>
									  <td style="border:none;border:none;font-size:10px">
                                                        	END: 
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	{{ pessoa.logradouro|upper}}
                                                        </td>
									</tr>
									<tr>
									  <td style="border:none;border:none;font-size:10px">
                                                        	TEL: 
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	{{ pessoa.telefone}}
                                                        </td>
									</tr>

                                                    <tr >
                                                    	<td style="border:none;border:none;font-size:10px">
                                                        	TOTAL
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	R$ {{total}}
                                                        </td>
                                                    </tr>
									 <tr>
                                                    	<td style="border:none;border:none;font-size:10px">
                                                        	{% if desconto %} DEVENDO {% else %} {% if tro_co %}DESCONTO{% else %}TROCO  {% endif %}{% endif %}

                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	R$ {{troco}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td style="border:none;border:none;font-size:10px">
                                                        	VALOR PAGO
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	R$ {{ valor_pago_flag }}
                                                        </td>
                                                    </tr>
								

                                                   
                                                    
                                                    <tr>
                                                    	<td style="border:none;border:none;font-size:10px">
                                                        	CAIXA
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	{{ vendedor.nome|upper }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    	<td style="border:none;border:none;font-size:10px">
                                                        	DATA PAGAMENTO
                                                        </td>
                                                        <td style="border:none;border:none;font-size:10px">
                                                        	{{ data_hoje|date:"d/m/Y" }}                                                        </td>
                                                    </tr>
										
									<tr>
									  <td style="padding-left:15px;width:60%;border:none;font-size:12px;border:none" colspan=2>
                                                        _____________________________
                                                        </td>
                                                        
									</tr>
<tr>
									  <td style="padding-left:60px;width:60%;border:none;font-size:12px;border:none" colspan=2>
                                                        	Assinatura
                                                        </td>
                                                        
									</tr>


									<tr>
									  <td style="padding-left:15px;width:60%;border:none;font-size:12px;border:none" colspan=2>
                                                        	OBRIGADO, LIGUE SEMPRE !
                                                        </td>
                                                        
									</tr>
                                                    </table>
                                                    
                                                    
                                                    </div>
                                                    
                                           
                                            
                                      
                                	
                                </div>
             {% else %}
             
             <p> {{  erro }}</p>
            {% endif %}
            
              
       {% endif %}
                             
                            

</div>
{% endblock %}

</body>
</html>
