{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if erro %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
                <br><br>
        {% else %}
                
                 <div align="center" >
 <div style="padding-top:10px;font-size:24px;text-align:center">REL&Aacute;TORIO DE ENTRADAS DE MERCADORIAS {% if hoje %} DE HOJE {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} DO M&Ecirc;S {% now "F"%} de {% now "Y"%}  {% else %}{% if data_inicio and data_fim %} - {{ data_inicio|date:"d/m/Y" }} - {{ data_fim|date:"d/m/Y"}}{% endif %}{% endif %}{% endif %} </div> <br> <br>                                                      
    <div class="app" style="padding-left:20px">
                                     <div id="changelist" class="module filtered">
                                    <table width="100%" id="produtos">
                                    <tbody>
                                    <tr>
                                    	<th >
                                        	Produto
                                      </th>
                                        <th >
                                        	Quantidade
                                      </th>
                                        <th >
                                        	Data Hora
                                      </th>
                                    </tr>
                                    {% if entradas %}
                                        {% for entrada in entradas %}
                                            <tr class="{% cycle 'row2' 'row1' %}">
                                              <td>
                                                    {{ entrada.estoque.produto }}
                                              </td>
                                                <td>
                                                    {{ entrada.quantidade }}
                                                </td>
                                                <td>
                                                   {{ entrada.data_hora|date:"d/m/Y" }} &agrave;s {{ entrada.data_hora|time:"H:i"}}h                                                </td>
                                            </tr>
                                         {% endfor %}
                                         <tr>
                                            <td colspan="2">
                                                Total de entradas {{ entradas.count }}
                                            </td>
                                            <td>
                                                Total de Produtos {{ total_produtos }}
                                            </td>
                                         </tr>
                                       {% else %}
                                                                               
                                         <tr>
                                            <td colspan="2">
                                                Total de entradas 0
                                            </td>
                                            <td>
                                                Total de Produtos 0
                                            </td>
                                         </tr>
                                      {% endif %}
                                    </tbody>
                                </table>
                                </div>	
                                       

										<br><br>
                                      
                   </div>
                          
            
                                       
            {% endif %}					
            					             
       {% endif %}
  </div>
                            

</div>
{% endblock %}

</p>
