
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     <div align="center" >
    <div width="100%" class="app" style="padding-left:20px" align="left">
      <br/>
      {% if caixas %}
      <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th >
                       <div style="text-align:center">HISTORICO DO CAIXA {% if hoje %} DE HOJE {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} DO M&Ecirc;S {% now "F"%} de {% now "Y"%}  {% else %}{% if data_inicio and data_fim %} - {{ data_inicio|date:"d/m/Y" }} - {{ data_fim|date:"d/m/Y"}}{% endif %}{% endif %}{% endif %} </div> <br> <br></div>
                    </th>
                </tr>
           </table>
           <br><br>
            	
                   
                    
                    
                    
                    
            
      
      		{% for c in caixas %}
            <table  width="100%" border="1px" id="produto">
            	<tr>
                	<th >
                    	Data Hora Abertura
                    </th>
                	<td colspan="2">
                    	{{ c.data_hora_abertura|date:"d/m/Y" }} às {{ c.data_hora_abertura|time:"H:i"}}h
                    </td>
                </tr>
                <tr>
                	 <th>
                    	Valor Inicial
                    </th>
                    <td colspan="2">
                    	R$ {{ c.valor_inicial}}
                    </td>
                </tr>
                <tr>
                	<th>
                    	Valor
                    </th>
                    <td colspan="2">
                    	R$ {{ c.valor }}
                    </td>
                </tr>
                <tr>
                	<th>
                    	Usuario Abertura
                    </th>
                    <td colspan="2">
                    	{{ c.usuario_abertura }}
                    </td>
                 </tr>
                 <tr>   
                 	<th>
                    	Data Hora Fechamento
                    </th>
                    <td colspan="2">
                    	{%  if c.data_hora_fechamento %}{{ c.data_hora_fechamento|date:"d/m/Y"  }}  às {{ c.data_hora_fechamento|time:"H:i" }}h {% endif %}
                    </td>
                 </tr>
                 <tr>   
                 	<th>
                    	Usuario Fechamento
                    </th>
                    <td colspan="2">
                    	{% if c.usuario_fechamento %}{{ c.usuario_fechamento }} {% endif %}
                    </td>
                    
                </tr>
                <tr>   
                 	<th>
                    	Vendas à Vista
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_avista %}{{ c.total_vendas_avista }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.vendas_avista %}{{ c.vendas_avista }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                <tr>   
                 	<th>
                    	Vendas à prazo
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_aprazo%}{{ c.total_vendas_aprazo}} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.vendas_aprazo%}{{ c.vendas_aprazo }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                <tr>   
                 	<th>
                    	Vendas à cartão
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_acartao %}{{ c.total_vendas_acartao }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.vendas_acartao %}{{ c.vendas_acartao }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                <tr>   
                 	<th>
                    	Recargas OI
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_oi %}{{ c.total_recargas_oi }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.recargas_oi %}{{ c.recargas_oi }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas TIM
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_tim %}{{ c.total_recargas_tim }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.recargas_tim %}{{ c.recargas_tim }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas CLARO
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_claro %}{{ c.total_recargas_claro }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.recargas_claro %}{{ c.recargas_claro }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas VIVO
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_vivo %}{{ c.total_recargas_vivo }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.recargas_vivo %}{{ c.recargas_vivo }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
<tr>   
                 	<th>
                    	Recargas OUTRAS
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_outras %}{{ c.total_recargas_outras }} {% else %} 0 {% endif %}
                    </td>
                    <td>
                    	{% if c.recargas_outras %}{{ c.recargas_outras }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>

                 </table>
                 <br><br>
            {% endfor %}
          
       </div>
      {% endif%}
      
       <br>
       <br>
       
       
       
      {% if retiradas %}
      	 <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th colspan="4">
                       <div style="text-align:center">HISTORICO DE RETIRADAS {% if hoje %} DE HOJE {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} DO M&Ecirc;S {% now "F"%} de {% now "Y"%}  {% else %}{% if data_inicio and data_fim %} - {{ data_inicio|date:"d/m/Y" }} - {{ data_fim|date:"d/m/Y"}}{% endif %}{% endif %}{% endif %} </div> <br> <br></div>
                    </th>
                </tr>   
            	<tr>
                	<th>
                    	Data Hora 
                    </th>
                    <th>
                    	Valor 
                    </th>                    
                    <th>
                    	Usuario 
                    </th>
                    <th>
                    	Observação
                    </th>                    
                </tr>
            
      
      		{% for r in retiradas %}
            	<tr class="{% cycle 'row2' 'row1'%}">
                	<td>
                    	{{ r.data_hora|date:"d/m/Y" }} às {{ r.data_hora|time:"H:i"}}h
                    </td>
                    <td>
                    	R$ {{ r.valor }}
                    </td>
                    
                    <td>
                    	{{ r.usuario}}
                    </td>
                    
                    <td>
                    	{{ r.observacao  }}
                    </td>
                                       
                </tr>
            {% endfor %}
          </table>
       </div>
       <br>
       <br>
      {% endif %}
      <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th colspan="3">
                       <div style="text-align:center">HISTORICO FINAL {% if hoje %} DE HOJE {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} DO M&Ecirc;S {% now "F"%} de {% now "Y"%}  {% else %}{% if data_inicio and data_fim %} - {{ data_inicio|date:"d/m/Y" }} - {{ data_fim|date:"d/m/Y"}}{% endif %}{% endif %}{% endif %} </div> <br> <br></div>
                    </th>
                </tr>   
            	<tr>
                	<th>
                    	Valor Final Caixa
                    </th>
                    <th>
                    	Valor Total Arrecadado
                    </th>                    
                    <th>
                    	Valor Total de Retiradas
                    </th>                   
                </tr>
            
      
            	<tr class="row2%}">
                	<td>
                    	R$ {{ total_caixa }}
                    </td>
                    <td>
                    	R$ {{ total }}
                    </td>
                    
                    <td>
                    	R$ {{total_retiradas}}
                    </td>
                                       
                </tr>
           </table> 
       </div>
     {% if erro %}
     	{{ erro }}
    
    {% endif%}
    {% endif %}
  </div>
</div>
{% endblock %}
