{% extends "admin/base_site2.html" %}
{% load i18n %}
{% load navegacao %}
{% load aviso %}
{% load perfil %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/CollapsedInlineFieldsets.js"></script>
<script language="javascript1.2">
  function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
      var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
      var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
      $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
  }

</script>
<style>
  input[type="text"], textarea {
    width:40px !important;
  }
  #produtos td, #produtos th{text-align:center;text-transform:uppercase}
  #produto th{text-align:left; width:50%;text-transform:uppercase}
  #produto td{text-align:right;text-transform:uppercase }
  #compras td, #compras th, #compras ul{text-align:center !important;text-transform:uppercase}
</style>
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans "Home" %}</a> &rsaquo; Relatório fechamento de caixa </div>{% endblock %}

{%block esquerda%}
{% if request.user.is_staff%}
{% block perfilsidebar %}
{% if request.user.is_authenticated %}
{% get_perfil request.user %}
{% endif %}
{% endblock %}
{% endif %}

{% if app_list %}
{% for app in app_list %}
    	{%ifequal app.name "Auth"%}
<div id="menu_app{{forloop.counter}}" class="menus"  >
  <ul class="titulo_app">
    <li>
      <span> Autentica&ccedil;&atilde;o</span>
    </li>
  </ul>
  <div class="app">
    <table>
      <tbody>

        {% for model in app.models %}
        <tr>
          {% if model.perms.change %}
          <th scope="row" width="65%"><span class="titulo_nome">{{ model.name }}</span></th>
          {% endif %}
          <td>
            {% if model.perms.add %}
            <div class="espacamento" >
              <a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a>
            </div >
            {% endif %}

            {% if model.perms.change %}
            <div class="espacamento" >
              <a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endifequal %}
{% endfor %}
{% endif %}
{%endblock%}
{%block direita%}

{% block sidebar %}
{% if user.is_authenticated and user.is_superuser %}
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>{% trans 'Recent Actions' %}</h2>
    <h3>{% trans 'My Actions' %}</h3>
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
    <p>{% trans 'None available' %}</p>
    {% else %}
    <ul class="actionlist">
      {% for entry in admin_log %}
      <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}

{%endblock%}
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     <div align="center" >
    <div width="100%" class="app" style="padding-left:20px" align="left">
      <br/>
      {% if erro %}
     	{{ erro }}
     {% else %}
      {% if caixas %}
      <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th >
                       <div style="text-align:center">HISTORICO DO CAIXA {% if hoje %} {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%} {{ data_inicio|date:"d/m/Y" }} {% endif %} </div> <br> <br></div>
                    </th>
                </tr>
           </table>
           <br><br>
            	
                   
                    
                    
                    
                    
            
      
      		{% for c in caixas %}
            <table  width="100%" border="1px" id="produto">
            	<tr>
                	<th >
                    	Data Hora Abertura
                    </th>
                	<td colspan="2">
                    	{{ c.data_hora_abertura|date:"d/m/Y" }} às {{ c.data_hora_abertura|time:"H:i"}}h
                    </td>
                </tr>
<tr>
                	<th>
                    	Usuario Abertura
                    </th>
                    <td colspan="2">
                    	{{ c.usuario_abertura }}
                    </td>
                 </tr>
                 <tr>   
                 	<th>
                    	Data Hora Fechamento
                    </th>
                    <td colspan="2">
                    	{%  if c.data_hora_fechamento %}{{ c.data_hora_fechamento|date:"d/m/Y"  }}  às {{ c.data_hora_fechamento|time:"H:i" }}h {% endif %}
                    </td>
                 </tr>
                 <tr>   
                 	<th>
                    	Usuario Fechamento
                    </th>
                    <td colspan="2">
                    	{% if c.usuario_fechamento %}{{ c.usuario_fechamento }} {% endif %}
                    </td>
                    
                </tr>
                <tr>
                	 <th>
                    	Valor Inicial
                    </th>
                    <td colspan="2">
                    	R$ {{ c.valor_inicial}}
                    </td>
                </tr>
                
                <tr>   
                 	<th>
                    	Vendas à Vista
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_avista %}{{ c.total_vendas_avista }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
                <tr>   
                 	<th>
                    	Adiantamentos de vendas
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_aprazo%}{{ c.total_vendas_aprazo}} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
                <tr>   
                 	<th>
                    	Vendas à cartão
                    </th>
                    <td>
                    	R$ {% if c.total_vendas_acartao %}{{ c.total_vendas_acartao }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
<tr>   
                 	<th>
                    	Recebimentos
                    </th>
                    <td>
                    	R$ {% if c.total_recebimentos %}{{ c.total_recebimentos }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>

                <tr>   
                 	<th>
                    	Recargas OI
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_oi %}{{ c.total_recargas_oi }} {% else %} 0 {% endif %}
                    </td>
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas TIM
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_tim %}{{ c.total_recargas_tim }} {% else %} 0 {% endif %}
                    </td>
                    
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas CLARO
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_claro %}{{ c.total_recargas_claro }} {% else %} 0 {% endif %}
                    </td>
                   
                    
                </tr>
                 <tr>   
                 	<th>
                    	Recargas VIVO
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_vivo %}{{ c.total_recargas_vivo }} {% else %} 0 {% endif %}
                    </td>
                    
                    
                </tr>

                 <tr>   
                 	<th>
                    	Recargas OUTRAS
                    </th>
                    <td>
                    	R$ {% if c.total_recargas_outras %}{{ c.total_recargas_outras }} {% else %} 0 {% endif %}
                    </td>
                    
                    
                </tr>
			<tr>
				<th colspan=3 style='text-align:right'> TOTAL R$ {{ c.valor }}</th>
			</tr>
                 </table>
                 <br><br>
            {% endfor %}

          
       </div>
      {% endif%}
      
       <br>
       <br>
       
       
       
      {% if retiradas %}
      	 <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th colspan="4">
                       <div style="text-align:center">HISTORICO DE RETIRADAS {% if hoje %} {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if data_inicio %} {{ data_inicio|date:"d/m/Y" }} {% endif %}{% endif %} </div> <br> <br></div>
                    </th>
                </tr>   
            	<tr>
				<th>
                    	Usuario 
                    </th>
                	<th>
                    	Data Hora 
                    </th>

                    <th>
                    	Observação
                    </th> 
                    <th>
                    	Valor 
                    </th>                    
                                       
                </tr>
            
      
      		{% for r in retiradas %}
            	<tr class="{% cycle 'row2' 'row1'%}">

                    <td>
                    	{{ r.usuario}}
                    </td>
                	<td>
                    	{{ r.data_hora|date:"d/m/Y" }} às {{ r.data_hora|time:"H:i"}}h
                    </td>

                    <td>
                    	{{ r.observacao  }}
                    </td>
                    <td>
                    	R$ {{ r.valor }}
                    </td>
                    
                    
                                       
                </tr>
			

            {% endfor %}
<tr>
				<th colspan=4 style='text-align:right'> TOTAL R$ {{total_retiradas}} </th>
			</tr>
          </table>       </div>

 <br>
       <br>

      <div id="changelist" class="module filtered">
            <table width="100%" border="1px" id="produtos">
            	<tr>
                	<th colspan="3">
                       <div style="text-align:center">HISTORICO FINAL {% if hoje %}{% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} {% now "F"%} de {% now "Y"%}  {% else %}{% if data_inicio and data_fim %} - {{ data_inicio|date:"d/m/Y" }} - {{ data_fim|date:"d/m/Y"}}{% endif %}{% endif %}{% endif %} </div> <br> <br></div>
                    </th>
                </tr>   
            	<tr>

                    <th>
                    	TOTAL VENDIDO

                    </th>                    
                    <th>
                    	TOTAL DE RETIRADAS
                    </th>   
                	<th>
                    	VALOR EM CAIXA
                    </th>                
                </tr>
            
      
            	<tr class="row2%}">

                    <td>
                    	R$ {{ total }}
                    </td>
                    
                    <td>
                    	R$ {{total_retiradas}}
                    </td>
                	<td>
                    	R$ {{ total_caixa }}
                    </td>
                                       
                </tr>
           </table>
       </div>
       <br>
       <br>
      {% endif %}
      {% if estoques %}
      <div id="changelist" class="module filtered">
            
	{% regroup estoques by caixa as estoquelist %}
		{% for estoques in estoquelist %}
		<table width="100%" border="1px" id="produtos">
            <tr>
                	<th colspan="5">
                       <div style="text-align:center">ESTOQUE {{ estoques.grouper}}
</div>
                    </th>
                </tr>
            <tr>
            	<th>PRODUTOS</th>
                <th>INICIO</th>
                <th>ENTRADA</th>
                <th>SAIDA</th>
                <th>SALDO</th>
            </tr>
            {% for estoque in estoques.list|dictsort:'produto.tipo.nome' %}
            	<tr>
                	<td>{{ estoque.produto|upper }}</td>
                	<td> {{ estoque.inicio}} </td>
                    <td> {{ estoque.entrada}} </td>
					<td> {{ estoque.saida}} </td>
					<td> {{ estoque.saldo}} </td>
                </tr>
            {% endfor %}
		</table>
		<br><br>
            {% endfor %}
            
       </div>
      {% endif %}

      
     
        <div style="padding:10px;font-size:16px;text-align:center">
        	<form method="POST"> 
                                    <fieldset class="module aligned ">
  												<h2>Selecione um intervalo para visualizar o relat&oacute;rio</h2>        
                                            	<div class="form-row inicio  ">
                       							 	<div>
                                                 		<label> DIA :</label>
                                                     <select id="id_dia_inicio" name="dia_inicio">
                                                        <option selected="selected" value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                     </select>
                                                     <select id="id_mes_inicio" name="mes_inicio">
                                                        <option selected="selected" value="1">Janeiro</option>
                                                        <option value="2">Fevereiro</option>
                                                        <option value="3">Mar&ccedil;o</option>
                                                        <option value="4">Abril</option>
                                                        <option value="5">Maio</option>
                                                        <option value="6">Junho</option>
                                                        <option value="7">Julho</option>
                                                        <option value="8">Agosto</option>
                                                        <option value="9">Setembro</option>
                                                        <option value="10">Outubro</option>
                                                        <option value="11">Novembro</option>
                                                        <option  value="12">Dezembro</option>
                                                     </select>
                                                     <select id="id_ano_inicio" name="ano_inicio">
                                                     {% for ano in anos %}
                                                        <option value="{{ ano }}">{{ ano }}</option>
                                                     {% endfor %}
                                                     </select>
                                               </div>
                                            </div>
                                              <div class="form-row hoje  ">
                       							 	<div> 
                                                    	<label >Relat&oacute;rio de hoje </label>	
                                        					<input type="checkbox" name="hoje" id = 'id_hoje' value="1">
                                                     </div>
                                               </div>
                                              
                                               <div class="form-row enviar  ">
                       							 	<div style="float:right"> 
                                                       <p><input type="submit" value="Enviar" /></p>
                                          			</div>
                                                </div>
                                            </fieldset>
                                      </form>
       </div> 
    {% endif%}
      <br><br>
     									 <table width="100%" id="compras">
                                           <tr>
                                           		<td style="border:none">
                                                         <a href="/admin/sispag/relatorio_fechar_caixa/?pdf=1&data_inicio={{ data_inicio_str }}&hoje={{ hoje }}" target="_blank"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Imprimir</div></a>
                                                    </td>
                                            	<td style="border:none">
                                                	 <a href="/admin/"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Voltar</div></a>
                                                </td>
                                            </tr>
                                            
                                            </table>        
    </div>

    {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
