{% extends "admin/base_site2.html" %}
{% load i18n %}
{% load navegacao %}
{% load aviso %}
{% load perfil %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/CollapsedInlineFieldsets.js"></script>
<script language="javascript1.2">
function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}

</script>
<style>
input[type="text"], textarea {
width:40px !important;
}
#produtos td, #produtos th{text-align:center; padding:3px !important;}
.tr1{
background-color:#F8F8F8;
}
.tr2{
background-color:#FFF;
}
</style>
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans "Home" %}</a> &rsaquo; Rel&aacute;torio de Vendas</div>{% endblock %}

{%block esquerda%}
{% if request.user.is_staff%}
{% block perfilsidebar %}
{% if request.user.is_authenticated %}
{% get_perfil request.user %}
{% endif %}
{% endblock %}
{% endif %}

{% if app_list %}
    {% for app in app_list %}
    	{%ifequal app.name "Auth"%}
        <div id="menu_app{{forloop.counter}}" class="menus"  >
       		 <ul class="titulo_app">
                    <li>
                        <span> Autentica&ccedil;&atilde;o</span>
                    </li>
             </ul>
         <div class="app">
        <table>
        <tbody>
        	
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row" width="65%"><span class="titulo_nome">{{ model.name }}</span></th>
            {% endif %}
            <td>
            {% if model.perms.add %}
            	 <div class="espacamento" >
               	 	<a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a>
                </div >
            {% endif %}
            
            {% if model.perms.change %}
                <div class="espacamento" >
               		 <a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
                </div>
            {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        {% endifequal %}
    {% endfor %}

{% endif %}
{%endblock%}
{%block direita%}

{% block sidebar %}
{% if user.is_authenticated and user.is_superuser %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}

{%endblock%}
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if erro %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
                <br><br>
        {% else %}
                
                 <div align="center" >
 <div style="padding-top:10px;font-size:24px;text-align:center">REL&Aacute;TORIO DE ANIVERSARIANTES {% if hoje %} DE HOJE {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} DO M&Ecirc;S {% now "F"%} de {% now "Y"%} {% endif %}{% endif %} </div> <br> <br>                                               
    <div class="app" style="padding-left:20px">
                                     <div id="changelist" class="module filtered">
                                    <table width="100%" id="produtos">
                                    <tbody>
                                    <tr>
                                    	<th style="width:40%">
                                        	Nome
                                      </th>
                                        <th style="width:20%">
                                        	Data de Nascimento
                                      </th>
                                        <th style="width:20%">
                                        	Telefone
                                      </th>
                                      <th style="width:20%">
                                        	Endere&ccedil;o
                                      </th>
                                      
                                    </tr>
                                    {% if pessoas %}
                                        {% for pessoa in pessoas %}
                                            <tr class="{% cycle 'row2' 'row1' %}">
                                              <td>
                                                    {{ pessoa.nome }}
                                              </td>
                                                <td>
                                                    {{ pessoa.data_nascimento|date:"d/m/Y"  }}
                                                </td>
                                                <td>
                                                	{{ pessoa.telefone }}
                                                </td>
                                                <td>
                                                	{{ pessoa.logradouro }}
                                                </td>
                                            </tr>
                                         {% endfor %}
                                         <tr>
                                            <td colspan="4">
                                                Total de pessoas {{ pessoas.count }}
                                            </td>
                                            
                                         </tr>
                                       {% else %}
                                       <tr class="row2">
                                              <td>
                                                    
                                              </td>
                                                <td>
                                                    
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                         
                                         <tr>
                                            <td colspan="4">
                                                Total de Pessoas 0
                                            </td>
                                           
                                         </tr>
                                      {% endif %}
                                    </tbody>
                                </table>
                                </div>	
                                       

										<br><br>
                                      
                   </div>
                          
            
                                       
            {% endif %}					
            						<form method="POST"> 
                                    <fieldset class="module aligned ">
  												<h2>Selecione uma das op&ccedil;&otilde;es abaixo para tirar o rel&aacute;torio</h2>        
                                            	
                                              <div class="form-row hoje  ">
                       							 	<div> 
                                                    	<label >Aniversariantes de hoje </label>	
                                        					<input type="checkbox" name="hoje" id = 'id_hoje' value="1">
                                                     </div>
                                               </div>
                                               <div class="form-row mes_atual  ">
                       							 	<div> 
                                                    	<label >Aniversariantes do mes </label>	
                                        					<input type="checkbox" name="mes" id = 'id_mes' value="1">
                                                     </div>
                                               </div>
                                                <div class="form-row enviar  ">
                       							 	<div style="float:right"> 
                                                       <p><input type="submit" value="Enviar" /></p>
                                          			</div>
                                                </div>
                                                
                                            </fieldset>
                                      </form>
                                      
                                      <table width="100%" id="compras">
                                           <tr>
                                           		{% if mes or hoje %}
                                                    <td style="border:none">
                                                         <a href="/admin/sispag/relatorio_aniversariantes/?pdf=1&hoje={{ hoje }}&mes={{ mes }}" target="_blank"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Imprimir</div></a>
                                                    </td>
                                                {% endif %}
                                                
                                            	<td style="border:none">
                                                	 <a href="/admin/"><div style="padding:10px;background-color:#3399CC;width:150px;color:#FFFFFF;font:'Times New Roman', Times, serif 15px bold;text-align:center">Voltar</div></a>
                                                </td>
                                        </tr>
                                            
                   </table>               
       {% endif %}
  </div>
                            

</div>
{% endblock %}

</p>
