
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if erro %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
                <br><br>
        {% else %}
                
                
<div align="center" >
 <div style="padding-top:10px;font-size:24px;text-align:center">REL&Aacute;TORIO DE ANIVERSARIANTES {% if hoje %} DE HOJE {% now "j" %} de {% now "F" %} de {% now "Y" %} 
{% else%}{% if mes %} DO M&Ecirc;S {% now "F"%} de {% now "Y"%} {% endif %}{% endif %} </div> <br> <br>                                                  
    <div class="app" style="padding-left:20px">
                                     <div id="changelist" class="module filtered">
                                    <table width="100%" id="produtos">
                                    <tbody>
                                    <tr>
                                    	<th >
                                        	Nome
                                      </th>
                                        <th>
                                        	Data de Nascimento
                                      </th>
                                        <th >
                                        	Telefone
                                      </th>
                                      <th >
                                        	Endere&ccedil;o
                                      </th>
                                      
                                    </tr>
                                    {% if pessoas %}
                                        {% for pessoa in pessoas %}
                                            <tr class="{% cycle 'row2' 'row1' %}">
                                              <td>
                                                    {{ pessoa.nome }}
                                              </td>
                                                <td>
                                                    {{ pessoa.data_nascimento|date:"d/m/Y"  }}
                                                </td>
                                                <td>
                                                	{{ pessoa.telefone }}
                                                </td>
                                                <td>
                                                	{{ pessoa.logradouro }}
                                                </td>
                                            </tr>
                                         {% endfor %}
                                         <tr>
                                            <td colspan="4">
                                                Total de pessoas {{ pessoas.count }}
                                            </td>
                                            
                                         </tr>
                                       {% else %}
                                       <tr class="row2">
                                              <td>
                                                    
                                              </td>
                                                <td>
                                                    
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                         
                                         <tr>
                                            <td colspan="4">
                                                Total de Pessoas 0
                                            </td>
                                           
                                         </tr>
                                      {% endif %}
                                    </tbody>
                                </table>
                                </div>	
                                       

										<br><br>
                                      
                   </div>
                          
            
                                       
            {% endif %}					
            						
                                      
                                         
       {% endif %}
  </div>
                            

</div>
{% endblock %}

</p>
