
{% block content %}
<div id="content-main">

	 {% if request.user.is_authenticated %}
     	{% if erro %}
                <div style="padding:10px;font-size:24px;text-align:center"> {{ erro }}</div>
                <br><br>
        {% else %}
                
                 <div align="center" >
                                         <div style="padding-top:10px;font-size:24px;text-align:center">REL&Aacute;TORIO DE VENDAS</div> <br> <br>
                                               
    <div class="app" style="padding-left:20px">
                                     <div id="changelist" class="module filtered">
                                    <table width="100%" id="produtos">
                                    <tbody>
                                    <tr>
                                    	<th style="width:40%">
                                        	Tipo de Venda
                                      </th>
                                        <th style="width:20%">
                                        	Quantidade
                                      </th>
                                        <th style="width:20%">
                                        	Total
                                      </th>
                                        <th>
                                        	Saldo devedor
                                      </th>
                                    </tr>
                                    <tr class="row2">
                                   	  <td>
                                        	&Agrave; Vista
                                      </td>
                                        <td>
                                        	{{ venda_avista.count }}
                                        </td>
                                        <td>
                                        	R$ {{ total_avista }}
                                        </td>
                                        <td>
                                        	R$ 0.0
                                        </td>
                                    </tr>
                                     <tr class="row1">
                                    	<td>
                                        	&Agrave; Prazo
                                        </td>
                                        <td>
                                        	{{ venda_aprazo.count }}
                                        </td>
                                        <td>
                                        	R$ {{ total_aprazo }}
                                        </td>
                                        <td>
                                        	R$ {{ saldo_devedor_prazo }}
                                        </td>
                                    </tr>
                                     <tr class="row2">
                                    	<td>
                                        	&Agrave; Cart&atilde;o
                                        </td>
                                        <td>
                                        	{{ venda_acartao.count }}
                                        </td>
                                        <td>
                                        	R$ {{ total_acartao }}
                                        </td>
                                        <td>
                                        	R$ 0.0
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>	
                                       

										<br><br>
                                      
                   </div>
                          
            
                                       
            {% endif %}					
            						       {% endif %}
  </div>
                            

</div>
{% endblock %}

</p>
