{% extends "inmeq/base.html" %}
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% load adminmedia %}
{% load thumbnail%}
{% block corpo %}
<div id="noticias" style="margin-top:120px !important">
     <div id="data" >Bem-vindo. Maceió/AL, 20/08/2009&nbsp;</div>
     <div id="slideNoticias" style="width:590px;">
     <div class="noticia"><div style="padding-left:5px">INMEQ-AL</div></div>

	<div class="noticiaTitulo">CONHEÇA O INMEQ</div>
	<table width="100%">
    	<tr>
        	<td>
                <div class="noticiaCorpo">
                  <p>Os serviços da metrologia legal em  Alagoas foram ampliados em definitivo, a partir do dia 23 de dezembro de 2004,  quando foi criado através da Lei nº 6.547, o Instituto de Metrologia e Qualidade  de Alagoas – INMEQ/AL, órgão executor das atividades do Inmetro em Alagoas, promovendo o  nivelamento da qualidade dos produtos e serviços ofertados à população da  capital e do interior do estado.<br />
                    O Instituto é uma autarquia pública  estadual, vinculada à Secretária de Estado da Ciência e Tecnologia do Governo  de Alagoas, dotada de personalidade jurídica própria, autonomia administrativa  e financeira, patrimônio e receita própria.<br />
                    Com uma sede confortável situada no  bairro do Canaã, onde estão instalados modernos laboratórios, posto de aferição  de carga perigosa, posto de avaliação de táxis, além de uma agência instalada  na segunda maior cidade de Alagoas (Arapiraca), o órgão, hoje, na gestão do  economista Virgilio Palmeira habita outra realidade. <br />
                    Na atual gestão, o Inmeq tem  intensificado o seu desempenho junto à sociedade alagoana, operando nos  processos de inter-relações vinculadas à execução de atividades em metrologia  legal e científica por meio de: verificações periódica, eventual e fiscalização  de instrumentos de medir e de medidas materializadas; execução de atividades da  qualidade de produtos e serviços; da permissão e acompanhamento do  funcionamento de oficinas para instalação, conserto e manutenção de  instrumentos de medir e de medidas materializadas e equipamentos; da  fiscalização de produtos: têxteis, pré-medidos e de produtos certificados;  capacitação, inspeção e fiscalização de veículos e equipamentos para o  transporte de produtos perigosos, e a aferição de lombadas eletrônicas e  taxímetros, inspeção a distribuidoras de gás, self-services, padarias, aferição  de tensiômetros e postos de gasolina, entre outros serviços.<br />
                    Operando como educador das atividades  da qualidade de produtos comercializados nas lojas de departamentos em Maceió e  no interior do estado, o Inmeq tem objetivado conscientizar os clientes  (consumidores e empresários) quanto à necessidade do cumprimento das normas  estabelecidas pelo INMETRO, não medindo esforços para a melhoria da qualidade  dos serviços que presta à comunidade. . <br />
                    O Inmeq acabou de uma vez por todas com  a deficiência, que até então exstia, dos serviços do Inmetro no estado, cobrindo  hoje os 132 municípios facilitando à vida da população e operando mudanças na  biografia da metrologia Legal em Alagoas. <br />
                    Os investimentos do Governo de Alagoas  e do INMETRO tem resultado num desempenho melhor do órgão, que cumpre assim, os  objetivos organizacionais da sua missão junto à sociedade.</p>
                    <div style="float:right;">ASCOM/INMEQ</div>
                </div>
          </td>
         </tr>
    </table>
{% endif %}
	</div>
    </div>
</div>

{% endblock %}
 
