/*
    DJANGO Admin styles
*/

/* Import Grappelli Styles */
@import url('../css_ferramentas/ferramentas.css');

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff  ;
	background:url(../img/admin/fundo.png) repeat-x;
}

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    color: #666;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul li {
    list-style-type: square;
    padding: 1px 0;
}

ul.plainlist {
    margin-left: 0 !important;
}

ul.plainlist li {
    list-style-type: none;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 11px;
    line-height: 14px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 11px;
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 9px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help {
    font-size: 10px !important;
    color: #999;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999 !important;
    font-weight: normal !important;
}

.quiet strong {
    font-weight: bold !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px dashed #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

/* SORTABLE TABLES */

thead th a:link, thead th a:visited {
    color: #666;
    display: block;
}

table thead th.sorted {
    background-position: bottom left !important;
}

table thead th.sorted a {
    padding-right: 13px;
}

table thead th.ascending a {
    background: url(../img/admin/arrow-down.gif) right .4em no-repeat;
}

table thead th.descending a {
    background: url(../img/admin/arrow-up.gif) right .4em no-repeat;
}

/* ORDERABLE TABLES */

table.orderable tbody tr td:hover {
    cursor: move;
}

table.orderable tbody tr td:first-child {
    padding-left: 14px;
    background-image: url(../img/admin/nav-bg-grabber.gif);
    background-repeat: repeat-y;
}

table.orderable-initalized .order-cell, body>tr>td.order-cell {
    display: none;
}

/* FORM DEFAULTS */

input, textarea, select {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input {
    background: white url(../img/admin/nav-bg.gif) bottom repeat-x;
    padding: 3px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url(../img/admin/nav-bg-reverse.gif);
    background-position: top;
}

.button.default, input[type=submit].default, .submit-row input.default {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/admin/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: right;
}

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/admin/default-bg-reverse.gif);
    background-position: top;
}

/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x;
    color: white;
}


.caption_aluno{
margin: 0;
padding: 2px 5px 3px 5px;
font-size: 12px;
text-align: left;
font-weight: bold;
background:#D9D9EC !important ;
color:#0080C0;
}

.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select {
    border: 1px solid red;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {
    
    padding: 2px 8px 3px 8px;
    font-size: 11px;
    color: #999;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* ACTION ICONS */

.addlink {
    padding-left: 12px;
    background: url(../img/admin/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left: 12px;
    background: url(../img/admin/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 12px;
    background: url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat;
}

.viewlink{
	padding-left: 20px;
	padding-bottom:5px;
    background: url(../img/admin/html.png) 0 .1em no-repeat;
}

a.viewlink:hover {
    padding-left: 20px;
	padding-bottom:5px;
	background: url(../img/admin/html_hover.png) 0 .1em no-repeat;
}

.pdflink{
	padding-left: 23px;
	padding-bottom:5px;
    background: url(../img/admin/pdf.png) 0 .1em no-repeat;
}

a.pdflink:hover {
    padding-left: 23px;
	padding-bottom:5px;
	background: url(../img/admin/pdf_hover.png) 0 .1em no-repeat;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:hover {
    color: #993333;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    background: url(../img/admin/tool-left.gif) 0 0 no-repeat;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
}

.object-tools li:hover {
    background: url(../img/admin/tool-left_over.gif) 0 0 no-repeat;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    color: white;
    padding: .1em 14px .1em 8px;
    height: 14px;
    background: #999 url(../img/admin/tool-right.gif) 100% 0 no-repeat;
}

.object-tools a:hover, .object-tools li:hover a {
    background: #5b80b2 url(../img/admin/tool-right_over.gif) 100% 0 no-repeat;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background: #999 url(../img/admin/tooltag-arrowright.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {
    background: #5b80b2 url(../img/admin/tooltag-arrowright_over.gif) top right no-repeat;
}

.object-tools a.addlink {
    background: #999 url(../img/admin/tooltag-add.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.addlink:hover {
    background: #5b80b2 url(../img/admin/tooltag-add_over.gif) top right no-repeat;
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {
    margin: 10px 15px;
	height:100%;
}

#header {
    width: 100%;
}

#content-main {
    width: 100%;
	height:100%;
}


#content-related {
    width: 18em;
    position: relative;
    margin-right: -19em;
}

#footer {
	background: white url(../img/admin/nav-bg-reverse.gif) 0 -10px repeat-x;
    clear: both;
    padding: 25px;
	font-size: 11px;
    color: #999;
    border-top: 1px solid white;
    text-align: center;
}

#footer img{
	padding-top:6px;

}
/* COLUMN TYPES */

.colMS {
    margin-right: 20em !important;
}

.colSM {
    margin-left: 20em !important;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -19em;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: 95%;
}

.subcol {
    float: left;
    width: 46%;
    margin-right: 15px;
}

.dashboard #content {
    width: 500px;
}

/* HEADER */

#header {
    background: #417690;
    color: #ffc;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

/* SIDEBAR */

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    background: #eee url(../img/admin/nav-bg.gif) bottom left repeat-x;
    color: #666;
}

.boletim {
    background:#E9E9E9;
	color:#333333;
}

.boletim_titulo{
	font-weight:bold;
	text-align:center;
	margin-bottom:15px;
	color:#999999;
	font-size:15px;
}
.boletim_dados{
	margin-bottom:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10px;
	color:#666666;
}
.cabecalho{
font-weight:bolder;
padding-bottom:20px;
}

.cabecalho table td, tr{
padding-left:0px !important;
padding-top: 0px !important;
text-align:left;
}

.notas{
text-align:center;
}

.titulos th{
font-size:10px;
text-align:center;
vertical-align:middle;
}

.blocoanotacao{
background-image:url(../img/admin/bloco.png);
background-repeat:repeat-x;
background-color:#FBF9A2;
}

.blocoanotacao h2{
background-color:#FFF;
background-image:url(../img/admin/anotacao.png);
background-repeat:no-repeat;
height:50px;
text-align:center;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#999999;
}

.arquivo{
background-color:#FFF;
text-align:center;
width:514px;
border: 1px solid #eee;
-moz-border-radius: 5px; -webkit-border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

.arquivo .titulo_arquivos li{
padding: 5px 2px;
color:#575757;
font-size:15px;
font-weight:bold;
border-bottom:2px dotted #EEEEEE !important;
}

#content-related-perfil .titulo li{
background-color:#3B5998;
padding: 5px 2px;
color:#FFFFFF;
font-size:15px;
font-weight:bold;
}

.titulo_arquivo  li{
background-color:#FFF;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#999999;
text-align:right;
border-bottom: solid 5px #F0F8FF;
list-style:none;
vertical-align:middle;
}

.titulo_arquivo span{
background-color:#F0F8FF;
padding:5px 5px;
}

.titulo_professor  li{
background-color:#FFF;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#999999;
text-align:left;
border-bottom: solid 5px #F4FFFA;
list-style:none;
vertical-align:middle;
}
.titulo_professor{
margin:0px ;
padding: 20px 0 0 0;
background-color:#FFF;
}
.titulo_professor span{
background-color:#F4FFFA;
padding:5px 5px;
}


.titulo_app  li{

font-size:15px;
direction:ltr;
font-weight:bold;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
color:#3B5998;
text-align:center;
list-style:none;
vertical-align:middle;
padding: 5px 0 3px 0;
margin: 0 5px 0 0;
}

.titulo_direita  li{

font-size:15px;
direction:ltr;
font-weight:bold;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
color:#3B5998;
text-align:center;
list-style:none;
vertical-align:middle;
padding: 5px 0 3px 0;
margin: 0 5px 0 0;
}

.titulo_loja_direita  li{

font-size:15px;
direction:ltr;
font-weight:bold;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
color:#3B5998;
text-align:center;
list-style:none;
vertical-align:middle;
padding: 5px 0 3px 0;
margin: 0 5px 0 0;
}
.titulo_perfil  li{

font-size:15px;
direction:ltr;
font-weight:bold;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
color:#FFF;
text-align:center;
list-style:none;
vertical-align:middle;
padding: 5px 0 3px 0;
margin: 0 5px 0 0;
}

.titulo_app{
margin:0 0 5px 0 ;
padding: 0 0 5px 0;
background-color:#EEE;
width:188px !important;
}

.titulo_direita{
margin:0 0 5px 0 ;
padding: 0 0 5px 0;
background-color:#EEE;
width:24em !important;
}

.titulo_loja_direita{
margin:0 0 5px 0 ;
padding: 0 0 5px 0;
background-color:#EEE;
width:30em !important;
}



.titulo_perfil{
background-color:#3B5998;
margin:0 0 5px 0 ;
padding: 0 0 5px 0;
width:188px !important;
}

.titulo_arquivos  li{

font-size:11px;
direction:ltr;
font-weight:bold;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
color:#333333;
text-align:left;
border-bottom: 1px solid #CCCCCC;
list-style:none;
vertical-align:middle;
padding: 0 0 5px 0;
margin: 0 5px 0 0;
}
.titulo_arquivos{
margin:0px ;
padding: 0 0 5px 0;
}

.titulo_app li span{
padding: 0 1px;
}

.titulo_direita li span{
padding: 0 1px;
}

.titulo_nome{
color:#EEDD;
font-weight:bold;
font-size:11px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.titulo_nome a, .titulo_nome a:hover{
color:#3B5998;
font-weight:bold;
font-size:11px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;

}

.titulo_nome a{
color:#3B5998;
font-size:11px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-weight:normal;
}

.disciplina{
color:#3B5998;
font-size:12px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-weight:bold;
}

.professores h2{
background-color:#FFF;
background-image:url(../img/admin/professores.png);
background-repeat:no-repeat;
height:50px;
text-align:center;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
}

.down1{
background-color:#F7F7F7;
}
.down2{
background-color:#FFF;
}

.app{
padding:0 10px;
}

.app tr{
width:100px !important;
}


.box1bubble {
background:transparent url(../images/chatBubble.gif) no-repeat scroll 0 0;
width:24px;
}
.box1tl {
background-position:right -20px;
background-repeat:no-repeat;
}
.box1t, .box1b, .box1tl, .box1tr {
background-image:url(../images/boxxt.gif);
height:4px;
}
.box1blc {
background-position:20px 0;
background-repeat:no-repeat;
}

.box1c {
background:#FFFFFF none repeat scroll 0 0;
padding:3px 5px;
}

.box1l, .box1r, .box1bl, .box1blc, .box1br {
background-image:url(../images/boxyb.gif);
width:4px;
}

.box1tr {
background-position:0 -35px;
background-repeat:no-repeat;
}


.box1t {
background-position:0 -25px;
background-repeat:repeat-x;
}
.box1br {
background-position:-35px 0;
background-repeat:no-repeat;
}
.box1r {
background-position:-30px 0;
background-repeat:repeat-y;
}
.box1b {
background-position:0 -30px;
background-repeat:repeat-x;
}

.floatRight {
float:right;
}

.lgrey {
color:#939496;
}

.xsmall {
font-size:10px;
}

.cmnt {
width:300px;
}

.hideLong {
overflow:hidden;
}
